# Authentication
tenancy_ocid         = "<tenancy_ocid>"

# Regions
primary_region = "<primary_region>"
standby_region = "<standby_region>"

# Compartment
compartment_ocid = "<compartment_ocid>"

# ADB_password 
adb_password = "<adb_password>"

